<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aenimastudio.iis"
    android:versionCode="1"
    android:versionName="1.7-RC" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <!-- permission list -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- launch activity -->
        <activity
            android:name="com.aenimastudio.iis.activities.SplashISLogoActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aenimastudio.iis.activities.LoginActivity"
            android:noHistory="true" />
        <activity
            android:name="com.aenimastudio.iis.activities.NewsBrowserActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.aenimastudio.iis.activities.FoodMenuBrowserActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.aenimastudio.iis.activities.SimpleBrowserActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>